In [89]:
import pandas as pd

In [90]:
df1 = pd.read_csv('/Users/pedro/Desktop/Ironhack/Unit 01/Aula 03/lab-customer-analysis-round-1/files_for_lab/csv_files/file1.csv')
df2 = pd.read_csv('/Users/pedro/Desktop/Ironhack/Unit 01/Aula 03/lab-customer-analysis-round-1/files_for_lab/csv_files/file2.csv')
df3 = pd.read_csv('/Users/pedro/Desktop/Ironhack/Unit 01/Aula 03/lab-customer-analysis-round-1/files_for_lab/csv_files/file3.csv')

In [91]:
df1.shape

(4008, 11)

In [92]:
df2.shape

(996, 11)

In [93]:
df3.shape

(7070, 11)

In [94]:
df1.columns = [df1.columns[i].lower().replace(' ', '_') for i in range(len(df1.columns))]
df1 = df1.iloc[:, [0,1,2,3,4,5,6,7,10,8,9]]

In [95]:
df2.columns = [df2.columns[i].lower().replace(' ', '_') for i in range(len(df2.columns))]

In [96]:
df3=df3.rename(columns={'State': 'st'})
df3.columns = [df3.columns[i].lower().replace(' ', '_') for i in range(len(df3.columns))]
df3=df3.iloc[:, [0,1,4,3,2,5,6,7,9,8,10]]

In [97]:
data = pd.concat([df1, df2,df3])
data

,customer,st,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,total_claim_amount,policy_type,vehicle_class
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,2.704934,Personal Auto,Four-Door Car
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,1131.464935,Personal Auto,Four-Door Car
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,566.472247,Personal Auto,Two-Door Car
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,529.881344,Corporate Auto,SUV
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,17.269323,Personal Auto,Four-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,198.234764,Personal Auto,Four-Door Car
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,379.200000,Corporate Auto,Four-Door Car
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,790.784983,Corporate Auto,Four-Door Car
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,691.200000,Personal Auto,Four-Door Car
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,369.600000,Corporate Auto,Two-Door Car

In [114]:
# numerical columns: 4-8
# categorical columns: 0-3 and 8-10

In [ ]:
# 0  -  Identification of the costumer.
# 1  -  State where the costumer is from.
# 2  -  Costumer's gender.
# 3  -  Costumer's level of education.
# 4  -  The amount that the costumer is paying to the company for the time he is buying from it.
# 5  -  Costumer's income.
# 6  -  The amount the costumer pays to the insurance company on a regular basis.
# 7  -  The total number of opened complaints reported by the costumer.
# 8  -  The sum payable at the maturity of the insurance policy.
# 9  -  Costumer's type of policy.
# 10 -  Costumer's car class.